<tr>
    <td>
        <h3 style="margin:0px;">{{Name}}</h3>
        <select id="{{Key}}" data-jpd-rule-name="{{Name}}" class="ruleOption input_mash" style="width:40%;margin-left:1%;" onChange="onDataChange(event)">
            {{FormattedOptions}}
        </select>
        <div class="rule_details_div">
            <p class="rule_detail rule_description"></p>
            <p class="rule_detail rule_suggestion hidden"></p>
            <input data-jpd-rule-key="{{RuleKey}}" class="rule_custom hidden" type="text" placeholder="Enter custom \${VALUE}" name="customValue" onblur="onDataChange(event)" />
        </div>
    </td>
</tr>