<div id="teams_section">
	<div id="current_turn_section" class="hidden pre_team_block">
		<h2 id="current_turn_label">
			<span class="howtoplay_tooltip">
				Current Turn:
				<span class="tooltiptext tooltiphidden tooltipright">This section shows whose turn it is</span>
			</span>
		</h2>
		<h2>
			<span id="current_turn" class="pre_team_block_value" ></span>
		</h2>
	</div>
	<hr/>
	<div id="teams_sync_section" class="hidden">
		<div style="width:40%;">
			<h3 style="display:inline-block;">
				<span id="team_sync_message" class="fa fa-refresh teams_icons" onclick="onSyncTeams()" style="color:white;text-decoration:none;">Sync Teams</span>
				<span class="howtoplay_tooltip">
					<span class="tooltiptext tooltiphidden tooltipright">Sync the teams to table below.</span>
				</span>
			</h3>
		</div>
	</div>
	<table id="teams_table" class="hidden">
		<colgroup>
			<col style="width:50%">
		</colgroup>
		<thead>
			<tr>
				<th><h1>Team Name</h1></th>
				<th><h1>Score</h1></th>
				<th><h1 class="wager_row hidden">Wager</h1></th>
			</tr>
		</thead>
		<tbody id="teams_block"></tbody>
	</table>
</div>
