<div>
    <h3>Name your Game</h3>
    <div style="margin-left:3%;">
        <input id="game_name_value" type="text" name="game_name_value" class="edit_game_value" onkeyup="onDataChange(event)" value="{{Name}}">
    </div>
</div>
<div>
    <h3>Description of your Game</h3>
    <div style="margin-left:3%;">
        <textarea name="gameDescription" id="gameDescription" cols="20" rows="2" placeholder="Enter description" class="edit_game_value" onkeyup="onDataChange(event)">{{Description}}</textarea>
    </div>
</div>