/* General */

    html { height:100%; }
    body { height:99%; }
    input { background-color: ghostwhite;}
    textarea { background-color: ghostwhite; }
    button {padding:0.5%; }

    .hostHomeLink { text-decoration: none; color:inherit;}
    .actionButtonSection { display:flex; align-items: center;}

    .categoryQuestionsTable { width:90%;text-align:left; border-collapse: collapse !important;}
    .questionRow td { padding: 2% 0%; }
    .questionRow:hover { background-color: lightblue; color:black;}
    .questionRow:hover .fa-picture-o { color:black; }

/* LOAD: */
    .gameItem { float:left; width: 25%; border:2px solid gray; padding:1%; height:150px; overflow-y:scroll; margin:3%; }
    .gameItem:hover { color:black; background-color: lightblue; }
    #searchBarSection { text-align:left; border-radius:77px; border:1px solid gray; background-color:white; padding:1%; width:90%; margin:auto; font-size:20px; }
    .searchBar { text-align:left; width:85%; display:inline-block; }
    .searchBar:focus { border: none; outline: none; }
    #searchClearIcon { float:right; color: red !important; }

    /* .searchBar { border:1px solid gray; background-color:white; padding:1%; width:90%; margin:auto; font-size:35px; } */
    .searchBar.searchPlaceholder { color:gray; }
    .searchBar.searchText { color: black; }

    .published-Yes { display:none;  }
    .published- , .published-No { display:block; color:red; font-weight:bold; text-align:right; padding:2%; }

/* CREATE: */
    .notificationSection { color:red;font-style:bolder;font-size:120%; }
    .createFieldSection{ margin-top:5%;}
    #newGameSection h2 {margin:0px; }
    #newGameSection p  {margin:3px; }


/* EDIT: General */
    .container { display:table; height:100%; width:100%; }
    .container .sidebar { width:30px; min-width:30px; display:table-cell; vertical-align: top; border-right:2px solid white; height:100%; }
    .container .main { vertical-align: top; padding-left:1%; width:100%; }
    .sidebar .tab { font-size:120%; text-align:center; width:100%; cursor:pointer; margin-bottom:5%;}
    .sidebar .tab.section { padding-top:3%; padding-bottom:3%; }
    .sidebar .tab.section.selected { background-color:blue; color:white; }		
    .sidebar .tab.section.selected_tab { background-color:blue; color:white; }		
    .container .main .edit_section { padding-left:1%; text-align:left; }

/* EDIT: Tab for Questions/Answers */

    /* Control visibility of order buttons */
    .categorySectionBody tr.questionRow:nth-child(1) td span.fa-arrow-up { display:none; }
    .categorySectionBody tr.questionRow:last-child td span.fa-arrow-down { display:none; } 

    /* Highlighting the ones that are indeed daily double */
    .IsDailyDoubleYes { color:limegreen !important; font-weight:bolder; }

    /* For questions that use an image */
    .HasImageNo { display:none !important; }
    .HasImageYes { color:lightblue; }

    /* For questions that use an audio file */
    .HasAudioNo { display:none !important; }
    .HasAudioYes { color:orange; }

    /* For questions that use an audio file */
    .HasURLNo { display:none !important; }
    .HasURLYes { color:blue; }

/* Settings */ 
	#settings_table .rule_details_div { padding-left:2%; }

/* MEDIA */
    /* .mediaItem{ border: 2px dashed lightgray; padding:2%; float:left; text-align:center; margin-right:5%; margin-bottom:5%; } */
    .mediaItem{ border: 2px dashed lightgray; text-align:center; margin-right:2%; margin-bottom:3%; width:30%; display:inline-block; }
    .mediaItem .deleteMediaIcon { text-align:right; float:right; margin-top:1%; margin-right:1%; }

/* Play/Game */
    .playWarning { padding-left:3%; flex-basis:50%; color:red !important; }
    /* .playWarning strong { color:orange !important;} */

/**************************************************** 
	MEDIA SCREENS
*****************************************************/

@media only screen and (min-device-width:1200px)
{
	#searchBarSection { width:40%;}
}