<tr class="questionRow blockSection" data-jpd-block-id="{{Question.QuestionID}}">
    <td class="questionValue">{{Value}}</td>
    <td class="questionText">
        <span class="fa fa-picture-o HasImage{{Question.HasImage}} pointer" title="image"></span>
        <span class="fa fa-volume-up HasAudio{{Question.HasAudio}} pointer" title="audio"></span>
        <span class="fa fa-link HasURL{{Question.HasURL}} pointer" title="audio"></span>
        {{Question.Text}}
    </td>
    <td class="answerText">
        <span class="fa fa-picture-o HasImage{{Answer.HasImage}} pointer" title="image"></span>
        <span class="fa fa-volume-up HasAudio{{Answer.HasAudio}} pointer" title="audio"></span>
        <span class="fa fa-link HasURL{{Answer.HasURL}} pointer" title="audio"></span>
        {{Answer.Text}}
    </td>
    <td class="questionDailyDouble IsDailyDouble{{DailyDouble}}">{{DailyDouble}}</td>
    <td>
        <span class="fa fa-arrow-up pointer" onclick="onSwapQuestionOrder(event)" style="font-size:80%;"></span>
        <span class="fa fa-arrow-down pointer" onclick="onSwapQuestionOrder(event)" style="font-size:80%;"></span>
    </td>
    <td onclick="onPreviewQuestion(event)" style="cursor:pointer;">
        <span class="fa fa-eye pointer" style="font-size:80%;"></span><br/>
        Preview
    </td>
    <td onclick="QuestionForm.onEdit(this)" style="cursor:pointer;">
        <span class="fa fa-edit pointer" style="font-size:80%;"></span><br/>
        Edit
    </td>
</tr>