<form id="loginForm" class="hidden" onsubmit="onSubmitLoginForm(event)" style="width:20%">
    <h2>Game Passphrase</h2>
    <p>
        <input id="loginPassPhrase" style="font-size:20px; width:100%;" type="text" placeholder="Enter game pass phrase ..">
    </p>
    <div class="actionButtonSection2">
        <button type="submit" class="dlf_button dlf_button_round_corners dlf_button_blue">
            SUBMIT
        </button>
        <span id="loginLoading" style="margin-top:2%;"></span>
    </div>
    <p id="loginMessage" style="color:red;"></p>
</form>
<div id="welcomeSection" class="hidden showOnLogin">
    <p>Use this page to edit, manage, and configure the settings for your game.</p>
</div>