<h3 class="section_description2">
    Upload Images/Audio For the Game (optional)
</h3>
<div style="padding-left:1%;">
    <table style="width:50%;">
        <tr>
            <td>
                <a id="gameFormURL" class="dlf_button dlf_button_blue dlf_button_round_corners dlf_href_notextdec" style="padding:2%; font-size:20px;" href="https://docs.google.com/forms/d/e/1FAIpQLSd3HQnDkJDrZXULSnbMRDepwcxztb1uXKHePLnc75Bj3CKQ3A/viewform?usp=sf_link" target="_blank">
                    Upload Game Media
                </a>
            </td>
            <td>
                <p style="padding-left:2%;">
                    If asked for a <strong>Game ID</strong>, use this value: <br/> <br/>
                    <span id="read_only_game_id" style="padding:1%; background-color:gray;color:white;"></span> 
                </p>
            </td>
        </tr>
    </table>
    <br/>
    
</div>
<br/>
<h3>Current Game Media: &nbsp; <span id="syncNotifier"></span></h3>
<hr/>
<div id="game_media">
    {{GameMedia}}
</div>